FootballManager.Admin/Service References/TeamService/TeamService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Domain.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Domain.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/TeamService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Domain.Value_Objects" />
  <xs:import schemaLocation="http://localhost:8080/TeamService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8080/TeamService?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Team">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Domain.Value_Objects" name="_x003C_ArenaName_x003E_k__BackingField" nillable="true" type="q1:ArenaName" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Domain.Value_Objects" name="_x003C_Email_x003E_k__BackingField" nillable="true" type="q2:EmailAddress" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="ser:guid" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Domain.Value_Objects" name="_x003C_Name_x003E_k__BackingField" nillable="true" type="q3:TeamName" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Domain.Value_Objects" name="_x003C_ShirtNumbers_x003E_k__BackingField" nillable="true" type="q4:ShirtNumbers" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Domain.Value_Objects" name="events" nillable="true" type="q5:AggregatedTeamEvents" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Domain.Value_Objects" name="matchSchedules" nillable="true" type="q6:TeamMatchSchedule" />
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="playerIds" nillable="true" type="q7:ArrayOfguid" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Domain.Value_Objects" name="stats" nillable="true" type="q8:AggregatedTeamStats" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Team" nillable="true" type="tns:Team" />
  <xs:complexType name="ArrayOfGame">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Game" nillable="true" type="tns:Game" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGame" nillable="true" type="tns:ArrayOfGame" />
  <xs:complexType name="Game">
    <xs:sequence>
      <xs:element name="_x003C_AwayTeamId_x003E_k__BackingField" type="ser:guid" />
      <xs:element name="_x003C_HomeTeamId_x003E_k__BackingField" type="ser:guid" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="ser:guid" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Domain.Value_Objects" name="_x003C_Location_x003E_k__BackingField" nillable="true" type="q9:ArenaName" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Domain.Value_Objects" name="_x003C_MatchDate_x003E_k__BackingField" nillable="true" type="q10:MatchDateAndTime" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Domain.Value_Objects" name="_x003C_MatchDuration_x003E_k__BackingField" nillable="true" type="q11:MatchDuration" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Domain.Value_Objects" name="_x003C_Protocol_x003E_k__BackingField" nillable="true" type="q12:GameProtocol" />
      <xs:element name="_x003C_SeriesId_x003E_k__BackingField" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Game" nillable="true" type="tns:Game" />
  <xs:complexType name="ArrayOfMatch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Match" nillable="true" type="tns:Match" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatch" nillable="true" type="tns:ArrayOfMatch" />
  <xs:complexType name="Match">
    <xs:sequence>
      <xs:element name="_x003C_AwayTeamId_x003E_k__BackingField" type="ser:guid" />
      <xs:element name="_x003C_HomeTeamId_x003E_k__BackingField" type="ser:guid" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="ser:guid" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Domain.Value_Objects" name="_x003C_Location_x003E_k__BackingField" nillable="true" type="q13:ArenaName" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Domain.Value_Objects" name="_x003C_MatchDate_x003E_k__BackingField" nillable="true" type="q14:MatchDateAndTime" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Domain.Value_Objects" name="_x003C_MatchDuration_x003E_k__BackingField" nillable="true" type="q15:MatchDuration" />
      <xs:element name="_x003C_SeriesId_x003E_k__BackingField" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Match" nillable="true" type="tns:Match" />
  <xs:complexType name="ArrayOfTeam">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Team" nillable="true" type="tns:Team" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeam" nillable="true" type="tns:ArrayOfTeam" />
</xs:schema>