FootballManager.Admin/Service References/MatchService/MatchService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Domain.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Domain.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/MatchService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8080/MatchService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Domain.Value_Objects" />
  <xs:complexType name="Match">
    <xs:sequence>
      <xs:element name="_x003C_AwayTeamId_x003E_k__BackingField" type="ser:guid" />
      <xs:element name="_x003C_HomeTeamId_x003E_k__BackingField" type="ser:guid" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="ser:guid" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Domain.Value_Objects" name="_x003C_Location_x003E_k__BackingField" nillable="true" type="q1:ArenaName" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Domain.Value_Objects" name="_x003C_MatchDate_x003E_k__BackingField" nillable="true" type="q2:MatchDateAndTime" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Domain.Value_Objects" name="_x003C_MatchDuration_x003E_k__BackingField" nillable="true" type="q3:MatchDuration" />
      <xs:element name="_x003C_SeriesId_x003E_k__BackingField" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Match" nillable="true" type="tns:Match" />
  <xs:complexType name="ArrayOfMatch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Match" nillable="true" type="tns:Match" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatch" nillable="true" type="tns:ArrayOfMatch" />
</xs:schema>