FootballManager.Admin/Service References/SeriesService/SeriesService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Domain.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Domain.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/SeriesService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8080/SeriesService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Domain.Value_Objects" />
  <xs:import schemaLocation="http://localhost:8080/SeriesService?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Series">
    <xs:sequence>
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="ser:guid" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Domain.Value_Objects" name="_x003C_MatchDuration_x003E_k__BackingField" nillable="true" type="q1:MatchDuration" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Domain.Value_Objects" name="_x003C_NumberOfTeams_x003E_k__BackingField" nillable="true" type="q2:NumberOfTeams" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_Schedule_x003E_k__BackingField" nillable="true" type="q3:ArrayOfKeyValueOfintArrayOfMatchX5qeJt0B" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Domain.Value_Objects" name="_x003C_SeriesName_x003E_k__BackingField" nillable="true" type="q4:SeriesName" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_TeamIds_x003E_k__BackingField" nillable="true" type="q5:ArrayOfguid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Series" nillable="true" type="tns:Series" />
  <xs:complexType name="ArrayOfMatch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Match" nillable="true" type="tns:Match" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatch" nillable="true" type="tns:ArrayOfMatch" />
  <xs:complexType name="Match">
    <xs:sequence>
      <xs:element name="_x003C_AwayTeamId_x003E_k__BackingField" type="ser:guid" />
      <xs:element name="_x003C_HomeTeamId_x003E_k__BackingField" type="ser:guid" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="ser:guid" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Domain.Value_Objects" name="_x003C_Location_x003E_k__BackingField" nillable="true" type="q6:ArenaName" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Domain.Value_Objects" name="_x003C_MatchDate_x003E_k__BackingField" nillable="true" type="q7:MatchDateAndTime" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Domain.Value_Objects" name="_x003C_MatchDuration_x003E_k__BackingField" nillable="true" type="q8:MatchDuration" />
      <xs:element name="_x003C_SeriesId_x003E_k__BackingField" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Match" nillable="true" type="tns:Match" />
  <xs:complexType name="ArrayOfSeries">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Series" nillable="true" type="tns:Series" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSeries" nillable="true" type="tns:ArrayOfSeries" />
</xs:schema>