FootballManager.Admin/Service References/PlayerService/PlayerService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="PlayerPosition">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Forward" />
      <xs:enumeration value="MidFielder" />
      <xs:enumeration value="Defender" />
      <xs:enumeration value="GoalKeeper" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PlayerPosition" nillable="true" type="tns:PlayerPosition" />
  <xs:simpleType name="PlayerStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Available" />
      <xs:enumeration value="Absent" />
      <xs:enumeration value="Injured" />
      <xs:enumeration value="Suspended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PlayerStatus" nillable="true" type="tns:PlayerStatus" />
  <xs:simpleType name="CardType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Yellow" />
      <xs:enumeration value="Red" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CardType" nillable="true" type="tns:CardType" />
</xs:schema>