FootballManager.Admin/Service References/PlayerService/PlayerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/PlayerService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Domain.Entities" />
  <xs:import schemaLocation="http://localhost:8080/PlayerService?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8080/PlayerService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8080/PlayerService?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="AddExposablePlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="player" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExposablePlayerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Domain.Entities" minOccurs="0" name="player" nillable="true" type="q1:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlayerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlayerFromList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Domain.Entities" minOccurs="0" name="players" nillable="true" type="q2:ArrayOfPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlayerFromListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExposablePlayerFromList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="players" nillable="true" type="q3:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExposablePlayerFromListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="playerId" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Domain.Entities" minOccurs="0" name="FindByIdResult" nillable="true" type="q5:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchText" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="comp" type="q6:StringComparison" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SearchResult" nillable="true" type="q7:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExposablePlayers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExposablePlayersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Domain.Entities" minOccurs="0" name="GetAllExposablePlayersResult" nillable="true" type="q8:ArrayOfPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPlayers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPlayersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Domain.Entities" minOccurs="0" name="GetAllPlayersResult" nillable="true" type="q9:ArrayOfPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopAssistsForSeries">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="seriesId" type="q10:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopAssistsForSeriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Domain.Entities" minOccurs="0" name="GetTopAssistsForSeriesResult" nillable="true" type="q11:ArrayOfPlayerStats" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopRedCardsForSeries">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="seriesId" type="q12:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopRedCardsForSeriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Domain.Entities" minOccurs="0" name="GetTopRedCardsForSeriesResult" nillable="true" type="q13:ArrayOfPlayerStats" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopScorersForSeries">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="seriesId" type="q14:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopScorersForSeriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Domain.Entities" minOccurs="0" name="GetTopScorersForSeriesResult" nillable="true" type="q15:ArrayOfPlayerStats" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopYellowCardsForSeries">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="seriesId" type="q16:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopYellowCardsForSeriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Domain.Entities" minOccurs="0" name="GetTopYellowCardsForSeriesResult" nillable="true" type="q17:ArrayOfPlayerStats" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetShirtNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="playerId" type="q18:guid" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Domain.Entities" minOccurs="0" name="newShirtNumber" nillable="true" type="q19:ShirtNumber" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetShirtNumberResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignPlayerToTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exposablePlayer" nillable="true" type="xs:anyType" />
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="teamId" type="q20:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignPlayerToTeamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="playerId" type="q21:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePlayerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>